html, body {
    height: 110%;
    margin: 0;
    overflow: hidden; /* Prevents scrolling on the body */
}

body {
    background-image: url('images/BackGround2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc;
    font-family: Arial, sans-serif;
}

.font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #420d49;
    font-size: x-large;
    font-family: fantasy;
    font-weight: 100;
}

.content {
    height: 100%;
    overflow: auto; /* Allows content to scroll */
}

h2{
    color: #ffffff;
    font-size: xxx-large;
    font-family: fantasy;
    font-weight: 100;
}

center{
    text-shadow: 10px 10px 10px rgba(187, 229, 255, 0.5);
}

section {
    margin: 20px 0;
    position: relative;
}

h3 {
    margin-left: 20px;
}

img{
    width: 80%;
    border-radius: 10%;
}

.list img{
    width: 30px;
    padding-bottom: -10px;
    margin-right: 20px;
    margin-left: 10px;
   filter: invert(100)
}

.Category img{
    width: 20px;
    padding-bottom: 0px;
    margin-right: 20px;
    margin-left: 10px;
   filter: invert(100)
}


.scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
    cursor: grab;
}


.scroll-content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0;
    margin: 20px;
    transition: transform 0.2s ease-out; /* Smooth dragging */
   
}

.scroll-container:active {
    cursor: grabbing; /* Change cursor to grabbing when active */
}

.scroll-content li {
    min-width: 200px;
    min-height: 200px; 
    margin: 10px;background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    width: 200px;
    border-radius: 20px;
    max-width: 90%;  /* Ensure popup does not exceed screen width */
    max-height: 90%; /* Ensure popup does not exceed screen height */
    overflow: auto;  /* Enable scroll if content exceeds popup size */
    text-align: center; /* Center text content */
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.scroll-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scroll-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.prev-button, .next-button {
    min-width: 30px;
    min-height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(38, 38, 38, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    border-radius: 10px;

    
}

.prev-button {
    left: 0px;
    
}

.next-button {
    right: 0px;
}


/* styles.css */
body, html {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}

.navbar {
min-height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
background-image: linear-gradient(to left, #434343 0%, black 100%);
padding: 10px 20px;
}



.nav-links {
margin-top: 70px;
list-style: none;
/* display: flex; */
flex-direction: column;
position: fixed;
left: -100%;
top: 0;
height: 100vh;
width: 50%;
background-color: #c91a1a;
justify-content: center;
align-items: center;
transition: left 0.5s ease-in-out;
padding: 10px;

}

.list{
    margin-top: 50px;
    /* margin-left: 110px;
    margin-right: auto; */
}

.GDlogo{
    width: 100px;
    
}

.nav-links li {
margin: 10px;

}
.Category{
    padding-top: 10px;
}

.nav-links a {
color: rgb(247, 247, 247);
text-decoration: none;
font-size: 18px;
}

.burger {
display: none;
cursor: pointer;
}

.burger div {
width: 25px;
height: 3px;
background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
margin: 5px;
transition: all 0.5s ease-in-out;
}

/* Responsive */
@media (max-width: 2000px) {

.BUONGLUGAR{
        width: 100%;
        height: 100%;
    }


.nav-links {
position: fixed;
right: -90%;
top: 0;
height: 91vh;
width: 20%;
flex-direction: column;
background-image: linear-gradient(to left, #434343 0%, black 100%);
justify-content: center;
align-items: center;
}


.nav-links li {
margin: 10px 0;
}

.burger {
display: block;
}
}

.nav-active {
left: 0;
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
}

.main{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 97%;
    height: 85vh;
   
    /* background-color: rgb(255, 255, 255); */

    display: flex;
    flex-direction: column; /* Align children in a column */
    justify-content: center;
    
    overflow: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Enable smooth scrolling */


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    
}

.main::-webkit-scrollbar {
    display: none;
}

.translate {

    transform: translateX(400px) ;
    width: 69%;
    height: 85vh;

    
}


/* Existing styles... */

/* Popup styles */
.popup {
    min-width: 800px;
    min-height: 550px;
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
   
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 3;
    border-radius: 10px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transition: left 0.5s ease-in-out;/* Added transition */

    max-width: 90%;  /* Ensure popup does not exceed screen width */
    max-height: 90%; /* Ensure popup does not exceed screen height */
    overflow: auto;  /* Enable scroll if content exceeds popup size */
    text-align: center; /* Center text content */

    

    
}

.popup.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.popup-translate {
left: 64%;;

}


/* Keyframes for smooth opening */
@keyframes popupShow {
    from {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

/* Keyframes for smooth closing */
@keyframes popupHide {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.search-bar {
    padding-left: 10%;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    width: 800px; /* Change this value to the desired width */
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: #333;
    border-radius: 0 20px 20px 0;
}

.search-bar button i {
    font-size: 20px;
}

.surat pre{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}